<!-- Figma 2:298 -->
<footer class="ftr">
  <div class="ftr__inner">
    <p class="ftr__title">Too oma ettev&otilde;te<br>Telliskivisse!</p>

    <nav class="ftr__nav" aria-label="Jaluse men&uuml;&uuml;">
      <a href="#">ETTEV&Otilde;TTED</a>
      <a href="#">MIS TOIMUB?</a>
      <a href="#">KUIDAS TULLA?</a>
      <a href="#">UUDISED</a>
      <a href="#">TELLISKIVIST</a>
      <a href="#">VABAD PINNAD</a>
      <a href="#">KONTAKT</a>
    </nav>

    <div class="ftr__info">
      <p>Telliskivi<br>TLN O&Uuml;</p>
      <p><a href="tel:+3725166109">+372 51 66 109</a><br><a href="mailto:info@telliskivitln.ee">info@telliskivitln.ee</a></p>
      <p>Telliskivi 60/2, 10412 Tallinn<br>I1-hoone, A-sissep&auml;&auml;s, 4. korrus</p>
      <img class="ftr__logo" src="assets/img/footer-logo.svg" alt="Telliskivi TLN" width="250" height="32">
    </div>
  </div>
</footer>
